body{
  background-color: #f1f1f1;
}

.App {
  text-align: center;
  margin: 5% 10%;
  
  border: 1px solid grey;
  background-color: white;
  -webkit-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
}


